*~
.*.swp
*#*
.DS_Store
/rails-chat/.bundle
/rails-chat/vendor/bundler
/rails-chat/vendor/bin
/rails-chat/db/*.sqlite3
/rails-chat/db/*.sqlite3-journal
/rails-chat/log/*.log
/rails-chat/tmp
/ruboty-bot/.bundle
/ruboty-bot/vendor/bundler
/ruboty-bot/vendor/bin
